button#testingBtn Start tests
:marked
	This documentation is best viewed on a Desktop computer or laptop for the sake of viewing the examples at all screen sizes.

	The JavaScript examples are provided primarily in modern ES6 JavaScript syntax. Click the "ES5 syntax" button to view an ES5 version of the example if working in an environment that doesn't support ES6.

	mq-js was inspired by the [mq-scss](https://www.npmjs.com/package/mq-scss) Sass mixin. I wanted to use media queries in JavaScript in a similar sort of way to how I was using media queries in my Sass code.

	If you haven't looked into [mq-scss](https://www.npmjs.com/package/mq-scss) I highly recommend checking it out. It makes writing media queries far easier than any other method.
