details
  summary: h2 Setup

  :marked
    Firstly, use `npm install mq-js --save` to add the npm module to your project. If you haven't used npm before, read through [this documentation](https://docs.npmjs.com/getting-started/installing-node) to get set up.

    Now, create this simple `mq.js` file to set up your website breakpoints.

  +demo({
    js: {
  es6: `
//mq.js file

import MQ from "mq-js";

//Define your Site break points here
const bp = {
  small: 600,
  medium: 980,
  large: 1200
}

//Creates the media query functions
const mq = new MQ(bp);

//Export mq by default
export default mq;

//Gives easy access to your site breakpoints
export { mq, bp }`,

    es5: `
//mq.js file

var MQ = require('mq-js');

//Define your Site break points here
var breakpoints = {
  small: 600,
  medium: 980,
  large: 1200
}

//Creates the media query functions
var mq = new MQ(breakpoints);

//Export mq by default
module.exports.default = mq;

//Gives easy access to your site breakpoints
module.exports.bp = bp;
module.exports.mq = mq;
`
      }
    })

  p(style="text-align: center; font-size: 2em")
    strong OR

  p Alternatively you can save the breakpoints into a JSON file, then import them.

  +demo({
    json: `
{
  "//" : "This is the breakpoints.json file",
  "small": 600,
  "medium": 980,
  "large": 1200
}`,
      js: {
        es6: `
//mq.js file

import MQ from "mq-js";

//Retrieve your site break points
import bp from './breakpoints.json';

const mq = new MQ(bp);

//Export mq by default
export default mq;

//easier access to your site breakpoints
export { mq, bp }`,

        es5: `
//mq.js file

var MQ = require('mq-js');

//Retrieve your site break points
var bp = require('./breakpoints.json');

//Creates the media query functions
var mq = new MQ(bp);

//Exports the media query functions
module.exports.mq = mq;

//Gives easy access to your site breakpoints
module.exports.bp = bp;`
        }
    })

  :marked
    The above breakpoints are what I will be using throughout the examples in this documentation.

    I'm providing 2 export statements in the examples. This makes it super easy to access your site breakpoints since it is just a matter of switching out your import statement when you need to. It also means that it doesn't matter if you pull the breakpoints in using JSON or define them directly in the `mq.js` file, the code to access them is the same either way.

  +demo({
    js: {
      es6: `
//Without breakpoints
import mq from './mq'

//With breakpoints
import { mq, bp } from './mq'`,
        es5: `
//Import mq
var mq = require('./mq').mq;

//Import breakpoints
var bp = require('./mq').bp;`,
      }})

  :marked
    Now that you have your break points set up, you can use them when calling the function without having to import them. I'll get to why you might want to import the `breakpoints` variable later. For now, just stick to only importing the `mq` variable on it's own.
