
.m-revealer {
	$this: &;

	&__heading {
		margin: 0;
	}
	&__trigger {
		display: block;
		background: #000;
		border: 0;
		width: 100%;
		padding: 10px 20px;
		text-align: left;
	}

	&__slider {
		overflow: hidden;

		.-set & {
			transition: max-height 0.5s ease-in;
		}

		.-closed & {
			$ease-out: cubic-bezier(0.22, 0.61, 0.36, 1);
			transition-timing-function: $ease-out;
			max-height: 0 !important;
		}
	}

	&__content {
		background-color: rgba(#000, 0.25);
		padding: 20px;
	}
}
