extends _layouts/base

block includes
  include /_modules/pageContainer/pageContainer
  include /_modules/demo/demo

block content
  +pageContainer()
    h1 mq-js
    pre.no-lines: code(style='text-align: center') npm install mq-js --save

    +demo({
      html: `
.something`,
      scss: `
.something {}`,
      js: `
function something(){
  console.log('blah');
}`,
    })
