extends _layouts/base

block append includes
  include /_modules/demo/demo

block content
  button#testingBtn Start tests
  :marked
    This documentation is best viewed on a Desktop computer or laptop for the sake of viewing the examples at all screen sizes.

    The JavaScript examples are provided primarily in modern ES6 JavaScript syntax. Click the "ES5 syntax" button to view an ES5 version of the example if working in an environment that doesn't support ES6.

    mq-js was inspired by the [mq-scss](https://www.npmjs.com/package/mq-scss) Sass mixin. I wanted to use media queries in JavaScript in a similar sort of way to how I was using media queries in my Sass code.

    If you haven't looked into [mq-scss](https://www.npmjs.com/package/mq-scss) I highly recommend checking it out. It makes writing media queries far easier than any other method.

  h2 Contents
  -
    var headings = {
      'Setup' : 'setup',
      'mq.max' : 'mq-max',
      'mq.min' : 'mq-min',
      'mq.inside' : 'mq-inside',
      'mq.outside' : 'mq-outside',
      'Creating media query variables' : 'creating-media-query-variables',
      'Using pure pixel values' : 'using-pure-pixel-values',
      'Running on window resize' : 'running-on-window-resize',
      'Plugins' : {
        id: 'plugins',
        list: {
          'Height plugin' : '-height-plugin',
          'Orientation plugin' : '-orientation-plugin',
          'Ratio plugin' : '-ratio-plugin',
          'reactTo plugin' : '-reactto-plugin',
        }
      },
    };

  mixin menuItem(heading, value)
    -
      var isObj = typeof value === 'object';
      var href = `#${isObj ? value.id : value}`;

    li: a(href=href, style='color: #000;')= heading
      if isObj
        ol
          each subId, subHeading in value.list
            +menuItem(subHeading, subId)

  ol
    each id, heading in headings
      +menuItem(heading, id)


  :marked
    ## Setup

    Firstly, use `npm install mq-js --save` to add the npm module to your project. If you haven't used npm before, read through [this documentation](https://docs.npmjs.com/getting-started/installing-node) to get set up.

    Now, create this simple `mq.js` file to set up your website breakpoints.

  +demo({
    js: {
es6: `
//mq.js file

import MQ from "mq-js";

//Define your Site break points here
const bp = {
  small: 600,
  medium: 980,
  large: 1200
}

//Creates the media query functions
const mq = new MQ(bp);

//Export mq by default
export default mq;

//Gives easy access to your site breakpoints
export { mq, bp }`,

  es5: `
//mq.js file

var MQ = require('mq-js');

//Define your Site break points here
var breakpoints = {
  small: 600,
  medium: 980,
  large: 1200
}

//Creates the media query functions
var mq = new MQ(breakpoints);

//Export mq by default
module.exports.default = mq;

//Gives easy access to your site breakpoints
module.exports.bp = bp;
module.exports.mq = mq;
`
    }
  })

  p(style="text-align: center; font-size: 2em")
    strong OR

  p Alternatively you can save the breakpoints into a JSON file, then import them.

  +demo({
    json: `
{
  "//" : "This is the breakpoints.json file",
  "small": 600,
  "medium": 980,
  "large": 1200
}`,
    js: {
      es6: `
//mq.js file

import MQ from "mq-js";

//Retrieve your site break points
import bp from './breakpoints.json';

const mq = new MQ(bp);

//Export mq by default
export default mq;

//easier access to your site breakpoints
export { mq, bp }`,

      es5: `
//mq.js file

var MQ = require('mq-js');

//Retrieve your site break points
var bp = require('./breakpoints.json');

//Creates the media query functions
var mq = new MQ(bp);

//Exports the media query functions
module.exports.mq = mq;

//Gives easy access to your site breakpoints
module.exports.bp = bp;
        `
      }
  })

  :marked
    The above breakpoints are what I will be using throughout the examples in this documentation.

    I'm providing 2 export statements in the examples. This makes it super easy to access your site breakpoints since it is just a matter of switching out your import statement when you need to. It also means that it doesn't matter if you pull the breakpoints in using JSON or define them directly in the `mq.js` file, the code to access them is the same either way.

  +demo({
    js: {
      es6: `
//Without breakpoints
import mq from './mq'

//With breakpoints
import { mq, bp } from './mq'`,
      es5: `
//Import mq
var mq = require('./mq').mq;

//Import breakpoints
var bp = require('./mq').bp;`,
    }})

  :marked
    Now that you have your break points set up, you can use them when calling the function without having to import them. I'll get to why you might want to import the `breakpoints` variable later. For now, just stick to only importing the `mq` variable on it's own.


  :marked
    ## mq.max

    In the following example, the button will only turn green if you click it when the browser window is at a maximum width of 980px wide (ie. at or below the "medium" breakpoint).

    To help you figure out when the button is able to be clicked, the border of the button will turn green when it is clickable.

  +demo({
    html: `
include /_modules/btn/btn
.example
  +btn({classes:'-max'})
    | Clickable at and below 980px screen width`,
      js: {
        es6: `
//module js file

//import the mq variable that was created in the setup stage
import mq from "./mq";

document.querySelector('.btn.-max').onclick = function(e){
  e.preventDefault();

  //Use your breakpoints by parsing in a string
  mq.max('medium', (screen_size)=>{
    this.classList.toggle('-active');

    //logs the screen height, width, and ratio at the time the button was clicked
    console.log(screen_size);
  })
})`,
    },
  })

  :marked
    As you can see, you can easily access the `"medium"` breakpoint that you defined earlier by simply parsing a string as the breakpoint value. There is no need to import the `breakpoints` variable from the `mq.js` file to use the `"medium"` breakpoint.

    You can also use it in an if statement sort of format as shown below. All mq-js functions can be used in this `if` statement format. For the sake of brevity though, I'm just showing the `callback` format in the rest of these examples.

  +demo({
    html: `
include /_modules/btn/btn
.example
  +btn({classes:'-maxIf'})
    | Clickable at and below 980px screen width`,
      js: {es6: `
//module js file

//import the mq variable that was created in the setup stage
import mq from "./mq";

document.querySelector('.btn.-maxIf').onclick = function(e){
  e.preventDefault();

  if (mq.max('medium')){
    this.classList.toggle('-active');
  }
})`},
  })

  :marked
    Notice that using the callback method gives you access to the screen size data at the time the button is clicked. The if statement format does not (or at least not without custom code).

    Also notice that I'm not binding and unbinding the click function on screen resize. By placing `mq` _**inside**_ the click function, it behaves very similarly to how media queries behave in css.

    One last thing. If you prefer to explicitly state that the media query is targeting "width", `mq.max` can also be written as `mq.maxWidth`. It has identical functionality, it's just personal preference.

  +demo({
      js: {es6: `
// This code has identical functionality...
mq.max('medium', ()=> { /* ... */ });

// ...to this code
mq.maxWidth('medium', ()=> { /* ... */ });`},
  })

  :marked
    ## mq.min

    In the following example, the button will only turn green if you click it when the browser window is at a minimum width of 981px wide (ie. above the "medium" breakpoint).

  +demo({
    html: `
include /_modules/btn/btn
.example
  +btn({classes:'-min'})
    | Clickable at 981px screen width and above`,
      js: {es6:`
//module js file

//import the mq variable that was created in the setup stage
import mq from "./mq";

document.querySelector('.btn.-min').onclick = function(e){
  e.preventDefault();

  mq.min('medium', (screen_size)=>{
    this.classList.toggle('-active');

    //log the screen width at the time the button was clicked
    console.log(screen_size);
  })
})`},
  })

  :marked
    You might be wondering why 981px instead of 980px. While `mq.max` is _**inclusive**_ of the breakpoint value, `mq.min` is _**exclusive**_ of the breakpoint value. This serves two important purposes:

    1. It prevents bugs from occurring in that 1px sweet spot where both would otherwise return true.

    2. It aligns with how [mq-scss](https://www.npmjs.com/package/mq-scss) handles min and max width to prevent odd bugs where JavaScript is firing but the styles aren't there to support it (or vice versa).

    Also, like with `mq.max`, it can be written like `mq.minWidth` instead if you prefer.

  +demo({
      js: { es6: `
// This code has identical functionality...
mq.min('medium', ()=> { /* ... */ });

// ...to this code
mq.minWidth('medium', ()=> { /* ... */ });`},
  })

  :marked
    ## mq.inside

    `mq.inside` works in much the same way as it does in [mq-scss](https://www.npmjs.com/package/mq-scss).

    Instead of stating one value then calling the function, you state two values then call the function.

    You can state the breakpoint values in any order but the function needs to be called last (if at all). The function will be triggered if the screen width sits between the two breakpoint values when it is called.

    The smaller value always gets +1 for consistency with the mq-scss mixin and to prevent the issues mentioned above.

  +demo({
    html: `
include /_modules/btn/btn
.example
  +btn({classes:'-inside'})
    | Clickable at and between 980px and 601px screen width`,
      js: { es6: `
//module js file

//import the mq variable that was created in the setup stage
import mq from "./mq";

document.querySelector('.btn.-inside').onclick = function(e){
  e.preventDefault();

  mq.inside('medium', 'small', (screen_size)=>{
    this.classList.toggle('-active');

    //log the screen width at the time the button was clicked
    console.log(screen_size);
  })
})`},
  })

  :marked
    It can also be written as `mq.insideWidth` if you prefer.

  +demo({
      js: { es6: `
// This code has identical functionality...
mq.inside('medium', ()=> { /* ... */ });

// ...to this code
mq.insideWidth('medium', ()=> { /* ... */ });`},
  })

  :marked
    ## mq.outside

    `mq.outside` does what you would expect. It is the opposite of `mq.inside`. It will only fire if the screen width is outside of the two breakpoint values.

  +demo({
      html: `
include /_modules/btn/btn
.example
  +btn({classes:'-outside'})
    | Clickable outside of 980px to 601px screen widths`,
      js: { es6: `
//module js file

//import the mq variable that was created in the setup stage
import mq from "./mq";

document.querySelector('.btn.-outside').onclick = function(e){
  e.preventDefault();

  mq.outside('medium', 'small', (screen_size)=>{
    this.classList.toggle('-active');

    //log the screen width at the time the button was clicked
    console.log(screen_size);
  })
})`},
  })
  :marked
    It can also be written as `mq.outsideWidth` if you prefer.

  +demo({
      js: { es6: `
// This code has identical functionality...
mq.outside('medium', ()=> { /* ... */ });

// ...to this code
mq.outsideWidth('medium', ()=> { /* ... */ });`},
  })

  :marked
    ## Creating media query variables

    One of the big features in mq-scss is that you can easily create meaningful media query variables.

    Here is how to do a similar sort of thing using mq-js:

  +demo({
    html: `
include /_modules/btn/btn
.example
  +btn({classes:'-mqVar'})
    | when clicked, turns green at and below a 980px screen width, turns grey above 980px`,
      js: { es6: `
//module js file

//import the mq variable that was created in the setup stage
import mq from "./mq";

//sets up the MQ_btn media queries
const MQ_btn = state => ({
  active: () => mq.max('medium'),
  inactive: () => mq.min('medium'),
}[state]());

document.querySelector('.btn.-mqVar').onclick = function(e){
  e.preventDefault();

  if (MQ_btn('active')){
    this.classList.toggle('-active');
  }

  if (MQ_btn('inactive')){
    $(this).toggleClass('-inactive');
  }

})`},
  })

  :marked
    ## Using pure pixel values

    Just because you have access to the breakpoint values, it doesn't mean that you have to use them. mq-js still works if you just parse solid numbers into it.

  +demo({
    html: `
include /_modules/btn/btn
.example
  +btn({classes:'-pxVal'})
    | Clickable at and below 1000px screen width`,
      js: { es6: `
//module js file

//import the mq variable that was created in the setup stage
import mq from "./mq";

document.querySelector('.btn.-pxVal').onclick = function(e){
  e.preventDefault();

  mq.max(1000, (screen_size)=>{
    this.classList.toggle('-active');

    //log the screen size at the time the button was clicked
    console.log(screen_size);
  })
})`},
  })

  :marked
    Remember that if you use `mq.min` it will be like adding 1 pixel to the value that you provide.

  +demo({
    html: `
include /_modules/btn/btn
.example
  +btn({classes:'-pxValMin'})
    | Clickable at 1001px screen width and above`,
      js: { es6: `
//module js file

//import the mq variable that was created in the setup stage
import mq from "./mq";

document.querySelector('.btn.-pxValMin').onclick = function(e){
  e.preventDefault();

  mq.min(1000, (screen_size)=>{
    this.classList.toggle('-active');

    //log the screen width at the time the button was clicked
    console.log(screen_size);
  })
})`},
  })

  :marked
    What if you only want to tweak one of the normal breakpoint values so that it is just a few pixels larger than the base break point? That is when it is useful to import the `breakpoint` variable.

    In the following example, I'm importing the breakpoints variable and using it to add 30px to the `"medium"` breakpoint.

  +demo({
    html: `
include /_modules/btn/btn
.example
  +btn({classes:'-bpVar'})
    | Clickable at 1011px screen width and above`,
      js: { es6: `
//module js file

//import BOTH the mq variable AND the breakpoints variable that were created in the setup stage
import { mq , breakpoints } from "./mq";

document.querySelector('.btn.-bpVar').onclick = function(e){
  e.preventDefault();

  //Adding 30px to the base "medium" breakpoint
  mq.min(breakpoints.medium + 30, (screen_size)=>{
    this.classList.toggle('-active');

    //log the screen width at the time the button was clicked
    console.log(screen_size);
  })
})`},
  })

  :marked
    ## Running on window resize

    mq-js is just a simple function that checks the current window size when it is called. It doesn't do anything fancy when you resize the window. With a little extra code though, you can easily make it run on window resize.

    The following example uses [Debounce](https://www.npmjs.com/package/debounce) to prevent the function from firing until the window has finished resizing. This improves performance and can avoid odd bugs from occurring.

    The button will activate when the screen is at the correct width and deactivate when not. Clicking the button does nothing.

  +demo({
    html: `
include /_modules/btn/btn
.example
  +btn({classes:'-onResize'})
    | Activates at and between 980px and 601px screen width`,
      js: { es6: `
//module js file

//import debounce for better performance
import debounce from 'debounce';

//import the mq variable that was created in the setup stage
import mq from "./mq";

function toggleBtn(){
  if (mq.inside('medium', 'small')){
    $('.btn.-onResize').addClass('-active');
  } else {
    $('.btn.-onResize').removeClass('-active');
  }
};
toggleBtn();

window.onresize = debounce(toggleBtn, 200);`},
  })

  :marked
    ## Plugins

    As of version 2.0.0, mq-js now supports various plugins that allow it to fully replicate everything that mq-scss can do.

    These plugins can be loaded from the mq.js file to avoid the need for loading them every time you wish to use them.

  +demo({
    js: { es6: `
//Loading plugins in the mq.js file for global usage

import MQ from "mq-js";

//Enables the height plugin globally
import "mq-js/plugins/height";

//Enables the orientation plugin globally
import "mq-js/plugins/orientation";

//Enables the ratio plugin globally
import "mq-js/plugins/ratio";

//Define your Site break points here
const breakpoints = {
  small: 600,
  medium: 980,
  large: 1200
}

//Creates the media query functions
const mq = new MQ(breakpoints);

//Export mq by default
export default mq;

//Gives easy access to your site breakpoints
export { mq, breakpoints }`},
  })

  :marked
    Alternatively, you can load all of the plugins in one statement by simply importing `mq-js/ultimate`;
  +demo({
      js: { es6: `
//import all of the plugins at once by importing mq-js/ultimate instead of mq-js
import MQ from "mq-js/ultimate";
`},
  })

  :marked
    ### `height` plugin

    This one is pretty straight forward, it works in pretty much the same way as `min`, `max`, `inside` and `outside` except it targets height instead of width. Available functions are `mq.minHeight`, `mq.maxHeight`, `mq.insideHeight` and `mq.outsideHeight`.

  +demo({
    html: `
include /_modules/btn/btn
.example
  ul
    li
      +btn({classes:'-maxHeight'})
        | Clickable at and below 600px screen height
    li
      +btn({classes:'-minHeight'})
        | Clickable at and above 601px screen height
    li
      +btn({classes:'-insideHeight'})
        | Clickable between 401px and 800px screen height
    li
      +btn({classes:'-outsideHeight'})
        | Clickable outside of 401px and 800px screen height
`,
      js: { es6: `
//module js file

//import the mq variable that was created in the setup stage
import mq from "./mq";

//enables the use of minHeight, maxHeight, insideHeight and outsideHeight
//(unecessary if it has been loaded in the mq.js file)
import "mq-js/plugins/height";

document.querySelector('.btn.-maxHeight').onclick = function(e){
  e.preventDefault();
  mq.maxHeight(600, ()=> this.classList.toggle('-active'));
});

document.querySelector('.btn.-minHeight').onclick = function(e){
  e.preventDefault();
  mq.minHeight(600, ()=> this.classList.toggle('-active'));
});

document.querySelector('.btn.-insideHeight').onclick = function(e){
  e.preventDefault();
  mq.insideHeight(800, 400, ()=> this.classList.toggle('-active'));
});

document.querySelector('.btn.-outsideHeight').onclick = function(e){
  e.preventDefault();
  mq.outsideHeight(800, 400, ()=> this.classList.toggle('-active'));
});`},
  })

  :markdown
    The height plugin is the main reason why I have provided the alternate names for the width based commands. When you are combining height and width media queries in an if statement it can be easier to read `mq.minWidth(800) && mq.minHeight(400)` than `mq.min(800) && mq.minHeight(400)`.

  :marked
    ### `orientation` plugin

    This one is even simpler. One little gotcha is that there is no "square" orientation type in css. There is only portrait and landscape types. Square screen types seem to fall under `portrait` in css so I've made square screen types fall under `portrait` in mq-js as well.

  +demo({
    html: `
include /_modules/btn/btn
.example
  ul
    li
      +btn({classes:'-landscape'})
        | Clickable on landscape screens
    li
      +btn({classes:'-portrait'})
        | Clickable on portrait and square screens
`,
      js: { es6: `
//module js file

//import the mq variable that was created in the setup stage
import mq from "./mq";

//enables the use of mq.orientation
//(unecessary if it has been loaded in the mq.js file)
import "mq-js/plugins/orientation";

document.querySelector('.btn.-landscape').onclick = function(e){
  e.preventDefault();
  mq.orientation('landscape', ()=> this.classList.toggle('-active'));
});

document.querySelector('.btn.-portrait').onclick = function(e){
  e.preventDefault();
  mq.orientation('portrait', ()=> this.classList.toggle('-active'));
});
`},
  })

  :marked
    ### `ratio` plugin

    This one is a little more complex. The ratio's for mq-js are always formatted as `[width] / [height]`. Ratios work off of width more so than height in CSS so mq-js does as well. So a ratio of `2 / 3` is counted as being _larger_ than a ratio of `1 / 3` since `2 / 3` is wider than `1 / 3`.

    With this in mind, the ratio plugin provides you with all the typical ranges but for ratios.

  +demo({
    html: `
include /_modules/btn/btn
.example
  ul
    li
      +btn({classes:'-exactRatio'})
        | Clickable at exactly ratio "1 / 2"
    li
      +btn({classes:'-minRatio'})
        | Clickable at ratios wider than "1 / 2" (exclusive)
    li
      +btn({classes:'-maxRatio'})
        | Clickable at ratios thinner than "1 / 2" (inclusive)
    li
      +btn({classes:'-insideRatio'})
        | Clickable at widths between ratios "1 / 2" and "3 / 2"
    li
      +btn({classes:'-outsideRatio'})
        | Clickable at widths outside ratios "1 / 2" and "3 / 2"
`,
      js: { es6: `
//module js file

//import the mq variable that was created in the setup stage
import mq from "./mq";

//Enables the use of ratio, minRatio, maxRatio, insideRatio and outsideRatio
//(unecessary if it has been loaded in the mq.js file)
import "mq-js/plugins/orientation";

document.querySelector('.btn.-exactRatio').onclick = function(e){
  e.preventDefault();
  mq.ratio(1 / 2, ()=> this.classList.toggle('-active'));
});
document.querySelector('.btn.-minRatio').onclick = function(e){
  e.preventDefault();
  mq.minRatio(1 / 2, ()=> this.classList.toggle('-active'));
});
document.querySelector('.btn.-maxRatio').onclick = function(e){
  e.preventDefault();
  mq.maxRatio(1 / 2, ()=> this.classList.toggle('-active'));
});
document.querySelector('.btn.-insideRatio').onclick = function(e){
  e.preventDefault();
  mq.insideRatio(1 / 2, 3 / 2, ()=> this.classList.toggle('-active'));
});
document.querySelector('.btn.-outsideRatio').onclick = function(e){
  e.preventDefault();
  mq.outsideRatio(1 / 2, 3 / 2, ()=> this.classList.toggle('-active'));
});
`},
  })

  :marked
    You can also provide the ratio as a string instead.

  +demo({
    html: `
include /_modules/btn/btn
.example
  +btn({classes:'-maxRatio'})
    | Clickable at ratios thinner than "1 / 2" (inclusive)
`,
      js: { es6: `
document.querySelector('.btn.-maxRatioString').onclick = function(e){
  e.preventDefault();
  mq.maxRatio('1 / 2', ()=> this.classList.toggle('-active'));
});
`},
  })

  :marked
    ### `reactTo` plugin

    This plugin is a bit different to the others. The primary purpose of this plugin is to fire off functions when a media query either enters or leaves a defined screen size range.

  +demo({
    html: `
include /_modules/btn/btn
.example
  +btn({classes:'-reactTo'})(disabled="true")
    | Never clickable, toggles active state when mq changes truthfulness
`,
      js: { es6: `
//module js file

//import the mq variable that was created in the setup stage
import mq from "./mq";

//Enables the use of reactTo
//(unecessary if it has been loaded in the mq.js file)
import "mq-js/plugins/reactTo";

const button = document.querySelector('.btn.-reactTo');

mq.reactTo(()=> mq.inside(800, 1000), (is_active, screen_size)=> {

  // Add the "-active" class when active, remove it when inactive
  button.classList.toggle('-active', is_active);

  // is_active = did "mq.inside(800, 1000)" return true?
  // screen_size = an object holding the screen height, width, and ratio at the point when the screen crossed an mq boundary
  console.log(is_active, screen_size);
});
button.onclick = e => e.preventDefault();
`},
  })
